.heading{
width: 80%;
font-size: 22px;
}

body{
    background-color: pink;
    color: white;
}

.name_of_objects{
    color: turquoise;
    font-size: 15px;
}

#camera,#result{
    width: 350px;
    height: 300px;
    border: 2px dashed black;
}

#result_object_name,#result_object_accuracy{
    color: turquoise;
}